body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 0px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

#button
{
    color: red;
    background-color: blue;
    font-weight: bold;
    font-family: italics;
    font-size: 200%;
    
}
.submitting
{
    text-align: center;
    list-style-position: inside;
}
#fit
{ 
    max-width: 99%;
    max-height: 99%;
    
}
#body-1
{
    background-image: url(https://i.ytimg.com/vi/gTlpJ9ue04w/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#links
{
    background-color: white;
    color: black;
     margin-top:600px;
     font-size:300%;
    font-family:italics;  
}
